.menuBtn {
    -fx-background-radius: 0;
    -fx-background-color: #e2e2e2;
}

.menuBtn:hover {
    -fx-background-radius: 0;
    -fx-background-color: #bbb;
}

.menuBtn:pressed {
    -fx-background-radius: 0;
    -fx-background-color: #aaa;
}

.menuBtnSelected {
    -fx-background-color: #aaa;
}

.menuBtn:selected {
    -fx-background-color: #aaa;
}

.regularBtn {
    -fx-background-radius: 0;
    -fx-background-color: #c4c4c4;
    -fx-font-size: 15
}

.regularBtn:hover {
    -fx-background-radius: 0;
    -fx-background-color: #bbb;
}

.regularBtn:pressed {
    -fx-background-radius: 0;
    -fx-background-color: #aaa;
}

.regularBtn:selected {
    -fx-background-color: #aaa;
}

.background {
    -fx-background-color: #e2e2e2;
}

#data-table .table-cell {
    -fx-alignment: center-right;
}