.menuBtn {
    -fx-background-radius: 0;
    -fx-background-color: #e2e2e2;
}

.menuBtn:hover {
    -fx-background-radius: 0;
    -fx-background-color: #bbb;
}

.menuBtn:pressed {
    -fx-background-radius: 0;
    -fx-background-color: #aaa;
}

.menuBtnSelected {
    -fx-background-color: #aaa;
}

.menuBtn:selected {
    -fx-background-color: #aaa;
}

.regularBtn {
    -fx-background-radius: 0;
    -fx-background-color: #c4c4c4;
    -fx-font-size: 15
}

.regularBtn:hover {
    -fx-background-radius: 0;
    -fx-background-color: #bbb;
}

.regularBtn:pressed {
    -fx-background-radius: 0;
    -fx-background-color: #aaa;
}

.regularBtn:selected {
    -fx-background-color: #aaa;
}

.background {
    -fx-background-color: #e2e2e2;
}

#data-table .table-cell {
    -fx-alignment: center-right;
}

.calendar-picker {
    -fx-font-size: 18px;
    -fx-effect: null;
}

.list-view {
    -fx-font-size: 18px;
}

.selected-date-cell {
    -fx-background-color: #14e526;
}

.selected-date-cell:hover {
    -fx-background-color: #0096C9;
}

.selected-date-cell.selected {
    -fx-background-color: #0096C9;
}

.justify-text {
    -fx-font-alignment: center;
}

.text-area {
    -fx-font-size: 18px;
}
